@model lab2.ViewModels.AuctionVM

@{
    ViewData["Title"] = Model.Name;
}

<style>
    .validation-summary-errors ul, .validation-summary-errors li {
        list-style: none;
        padding: 0;
    }
</style>

<div style="margin-bottom: 2rem">
    <h1>@Model.Name</h1>
    <p><a href="@ViewData["Referer"]">Back to previous page</a></p>
    <p><strong>Description:</strong> @Model.Description</p>
    <p><strong>Auctioneer:</strong> @Model.Auctioneer</p>
    <p><strong>Starting Price:</strong> @Model.StartingPrice kr</p>
    <p><strong>End Date:</strong> @Model.EndDate</p>
    @if (Model.EndDate < DateTime.Now)
    {
        <p><strong>Winner:</strong> @Model.Winner</p>
    }
    @if (User.Identity.Name == Model.Auctioneer)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit Description</a>
    }
</div>

<h2>Bids</h2>
@if (!User.Identity.Name.Equals(Model.Auctioneer) && Model.EndDate > DateTime.Now)
{
    <form asp-action="MakeBid" method="post" style="margin-top: 1rem; margin-bottom: 0.75rem">
        <input type="hidden" name="AuctionId" value="@Model.Id" />
        <div class="form-group">
            <input type="number" id="BidAmount" name="BidAmount" class="form-control" style="width: auto" placeholder="Input your bid" />
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 1rem">Make Bid</button>
    </form>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
}
<table class="table">
    <thead>
        <tr>
            <th>Bidder</th>
            <th>Amount</th>
            <th>Date Made</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bid in Model.Bids)
        {
            <tr>
                <td>@bid.Bidder</td>
                <td>@bid.Amount kr</td>
                <td>@bid.DateMade</td>
            </tr>
        }
    </tbody>
</table>
