@model lab2.ViewModels.AuctionVM

@{
    ViewData["Title"] = Model.Name;
}

<div style="margin-bottom: 2rem">
    <h1>@Model.Name</h1>
    <p><a asp-action="Index">Back to Index</a></p>
    <p><strong>Description:</strong> @Model.Description</p>
    <p><strong>Auctioneer:</strong> @Model.Auctioneer</p>
    <p><strong>Starting Price:</strong> @Model.StartingPrice kr</p>
    <p><strong>End Date:</strong> @Model.EndDate</p>
    @if (User.Identity.Name == Model.Auctioneer)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit Description</a>
    }
</div>

<h2>Bids</h2>
<table class="table">
    <thead>
        <tr>
            <th>Bidder</th>
            <th>Amount</th>
            <th>Date Made</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bid in Model.Bids)
        {
            <tr>
                <td>@bid.Bidder</td>
                <td>@bid.Amount kr</td>
                <td>@bid.DateMade</td>
            </tr>
        }
    </tbody>
</table>
